.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222;
    padding: 10px;
  }
  
  .logo {
    color: white;
    font-weight: bold;
  }
  
  .links {
    display: flex;
    justify-content: space-around;
  }
  
  .links a {
    color: white;
    text-decoration: none;
    margin-left: 10px;
  }
  
  .active {
    border-bottom: 2px solid #f9c00e;
  }
  
